In [1]:
import pandas as pd
import numpy as np
from datetime import timedelta
import sys
!{sys.executable} -m pip install pyarrow

import pandas as pd

df = pd.read_parquet(r"C:\KDT\bok_pjt\team2_forecast_pjt\db\preprocessing\df_final_preprocessed_with_sent_id.parquet")

Requirement already satisfied: pyarrow in c:\users\hg432\anaconda3\envs\nlp_study\lib\site-packages (21.0.0)

In [2]:
import ast # 마법 도구를 가져옵니다.

# 1. 'tokens' 칸에 있는 글자들을 진짜 리스트로 변신!
# 혹시라도 비어있거나(NaN) 이상한 값이 섞여 있을 수 있으니 안전하게 처리합니다.
def convert_to_list(x):
    if isinstance(x, str): # 만약 글자(str)라면
        return ast.literal_eval(x) # 진짜 리스트로 바꿔줘!
    return x # 이미 리스트라면 그냥 둬!

df['tokens'] = df['tokens'].apply(convert_to_list)

# 2. 잘 바뀌었는지 확인 (이제 <class 'list'>가 나와야 해요)
print(f"변신 후 타입: {type(df['tokens'].iloc[0])}")

변신 후 타입: <class 'numpy.ndarray'>

In [6]:
rate_df = pd.read_csv(r'C:\KDT\bok_pjt\team2_forecast_pjt\db\rates\call_rate.csv')
rate_df['date'] = pd.to_datetime(rate_df['date'].str.replace('.', '-'))
rate_df = rate_df.sort_values('date')
rate_df

           date  call_rate
0    2011-12-30      3.290
1    2012-01-02      3.250
2    2012-01-03      3.250
3    2012-01-04      3.240
4    2012-01-05      3.250
...         ...        ...
3449 2025-12-23      2.547
3450 2025-12-24      2.543
3451 2025-12-26      2.553
3452 2025-12-29      2.522
3453 2025-12-30      2.540

[3454 rows x 2 columns]

In [4]:
df_study = df.copy()

df_study = df_study.sort_values('date')
df_study['date'] = pd.to_datetime(df_study['date'])
df_study['date_1m'] = df_study['date'] + timedelta(days=30)
df_study

,doc_id,date,content,tokens,category,source,sent_id,date_1m
2860295,159440,2012-01-01,김유경기자 yunew,[기자/NNG],뉴스,머니투데이,57,2012-01-31
2868338,160241,2012-01-01,또 국가 장학금을 1조7500억원으로 2500억원 늘리고 대학 학자금 대출금리를 4...,"[또/MAG;국가/NNG;장학금/NNG;늘/VV;대학/NNG, 대출/NNG;금리/N...",뉴스,머니투데이,3,2012-01-31
2868337,160241,2012-01-01,이에 따라 0 2세 5세아는 전면 무상보육 혜택을 받게 된다.,"[전면/NNG;무상/NNG;보육/NNG;혜택/NNG;받/VV, 되/VV]",뉴스,머니투데이,2,2012-01-31
2868336,160241,2012-01-01,복지 일자리 지출 대폭 확대 4대강 제주해군기지 해외자원개발 출자 등 삭감 올해부터...,"[복지/NNG;일자리/NNG;지출/NNG;대폭/MAG;확대/NNG, 대강/NNG;해...",뉴스,머니투데이,1,2012-01-31
2868290,160234,2012-01-01,흑룡의 해 2012년 대한민국과 안철수 박근혜 운세는 왜 한국엔 명품 속옷이 없죠,"[흑룡/NNG;운세/NNG;왜/MAG;엔/NNG;명품/NNG, 속옷/NNG;없/VA]",뉴스,머니투데이,1,2012-01-31
...,...,...,...,...,...,...,...,...
2880488,160748,2025-12-30,막대한 국채를 보유한 일본이 곧 금리를 올릴 수 밖에 없을 것으로 보고 공매도에 들...,"[막대/NNG;국채/NNG;보유/NNG;곧/MAG;금리/NNG, 오르/VV;없/VA...",뉴스,한국경제,38,2026-01-29
2880487,160748,2025-12-30,공매도 투자자들의 꿈의 무대가 된 일본 채권 거시 투자자들은 지난 수년간 일본 국채...,"[공매도/NNG;꿈/NNG;무대/NNG;되/VV;채권/NNG, 거시/NNG;수년/N...",뉴스,한국경제,37,2026-01-29
2880486,160748,2025-12-30,차노스의 전략이 큰 성공을 거둔 셈이다.,[차/NNG;전략/NNG;크/VA;성공/NNG;거둔/VV],뉴스,한국경제,36,2026-01-29
2880464,160748,2025-12-30,행사 가격은 엔비디아의 경우 당시 마감가격보다 47 팰런티어의 경우 무려 76 낮은...,"[행사가격/NNG;마감/NNG;가격/NNG;티어/NNG;무려/MAG, 낮/VA;가격...",뉴스,한국경제,14,2026-01-29
21564,936,2025-12-30,내년 2분기부터는 은행대리업 이 도입돼 은행 영업점이 없는 지역에서도 우체국을 방문...,"[은행/NNG;대리업/NNG;도입/NNG;되/VV;은행/NNG, 영업점/NNG;없/...",뉴스,매일경제,6,2026-01-29

In [7]:
df_study = pd.merge_asof(df_study, rate_df, on='date', direction='backward')
df_study = df_study.rename(columns={'call_rate': 'rate_today'})

df_study = pd.merge_asof(df_study, rate_df, left_on='date_1m', right_on='date', direction='forward')
df_study = df_study.rename(columns={'call_rate': 'rate_1m'}).drop(columns='date_y', errors='ignore')
df_study = df_study.rename(columns={'date_x': 'date'})

df_study

,doc_id,date,content,tokens,category,source,sent_id,date_1m,rate_today,rate_1m
0,159440,2012-01-01,김유경기자 yunew,[기자/NNG],뉴스,머니투데이,57,2012-01-31,3.29,3.27
1,160241,2012-01-01,또 국가 장학금을 1조7500억원으로 2500억원 늘리고 대학 학자금 대출금리를 4...,"[또/MAG;국가/NNG;장학금/NNG;늘/VV;대학/NNG, 대출/NNG;금리/N...",뉴스,머니투데이,3,2012-01-31,3.29,3.27
2,160241,2012-01-01,이에 따라 0 2세 5세아는 전면 무상보육 혜택을 받게 된다.,"[전면/NNG;무상/NNG;보육/NNG;혜택/NNG;받/VV, 되/VV]",뉴스,머니투데이,2,2012-01-31,3.29,3.27
3,160241,2012-01-01,복지 일자리 지출 대폭 확대 4대강 제주해군기지 해외자원개발 출자 등 삭감 올해부터...,"[복지/NNG;일자리/NNG;지출/NNG;대폭/MAG;확대/NNG, 대강/NNG;해...",뉴스,머니투데이,1,2012-01-31,3.29,3.27
4,160234,2012-01-01,흑룡의 해 2012년 대한민국과 안철수 박근혜 운세는 왜 한국엔 명품 속옷이 없죠,"[흑룡/NNG;운세/NNG;왜/MAG;엔/NNG;명품/NNG, 속옷/NNG;없/VA]",뉴스,머니투데이,1,2012-01-31,3.29,3.27
...,...,...,...,...,...,...,...,...,...,...
4974732,160748,2025-12-30,막대한 국채를 보유한 일본이 곧 금리를 올릴 수 밖에 없을 것으로 보고 공매도에 들...,"[막대/NNG;국채/NNG;보유/NNG;곧/MAG;금리/NNG, 오르/VV;없/VA...",뉴스,한국경제,38,2026-01-29,2.54,NaN
4974733,160748,2025-12-30,공매도 투자자들의 꿈의 무대가 된 일본 채권 거시 투자자들은 지난 수년간 일본 국채...,"[공매도/NNG;꿈/NNG;무대/NNG;되/VV;채권/NNG, 거시/NNG;수년/N...",뉴스,한국경제,37,2026-01-29,2.54,NaN
4974734,160748,2025-12-30,차노스의 전략이 큰 성공을 거둔 셈이다.,[차/NNG;전략/NNG;크/VA;성공/NNG;거둔/VV],뉴스,한국경제,36,2026-01-29,2.54,NaN
4974735,160748,2025-12-30,행사 가격은 엔비디아의 경우 당시 마감가격보다 47 팰런티어의 경우 무려 76 낮은...,"[행사가격/NNG;마감/NNG;가격/NNG;티어/NNG;무려/MAG, 낮/VA;가격...",뉴스,한국경제,14,2026-01-29,2.54,NaN
4974736,936,2025-12-30,내년 2분기부터는 은행대리업 이 도입돼 은행 영업점이 없는 지역에서도 우체국을 방문...,"[은행/NNG;대리업/NNG;도입/NNG;되/VV;은행/NNG, 영업점/NNG;없/...",뉴스,매일경제,6,2026-01-29,2.54,NaN

In [9]:
df_study['diff'] = df_study['rate_1m'] - df_study['rate_today']
df_study['label'] = df_study['diff'].apply(lambda x: 'hawkish' if x > 0.03 else ('dovish' if x < -0.03 else 'neutral'))

df_study = df_study[df_study['tokens'].map(len) > 0]
df_study

,doc_id,date,content,tokens,category,source,sent_id,date_1m,rate_today,rate_1m,diff,label
0,159440,2012-01-01,김유경기자 yunew,[기자/NNG],뉴스,머니투데이,57,2012-01-31,3.29,3.27,-0.02,neutral
1,160241,2012-01-01,또 국가 장학금을 1조7500억원으로 2500억원 늘리고 대학 학자금 대출금리를 4...,"[또/MAG;국가/NNG;장학금/NNG;늘/VV;대학/NNG, 대출/NNG;금리/N...",뉴스,머니투데이,3,2012-01-31,3.29,3.27,-0.02,neutral
2,160241,2012-01-01,이에 따라 0 2세 5세아는 전면 무상보육 혜택을 받게 된다.,"[전면/NNG;무상/NNG;보육/NNG;혜택/NNG;받/VV, 되/VV]",뉴스,머니투데이,2,2012-01-31,3.29,3.27,-0.02,neutral
3,160241,2012-01-01,복지 일자리 지출 대폭 확대 4대강 제주해군기지 해외자원개발 출자 등 삭감 올해부터...,"[복지/NNG;일자리/NNG;지출/NNG;대폭/MAG;확대/NNG, 대강/NNG;해...",뉴스,머니투데이,1,2012-01-31,3.29,3.27,-0.02,neutral
4,160234,2012-01-01,흑룡의 해 2012년 대한민국과 안철수 박근혜 운세는 왜 한국엔 명품 속옷이 없죠,"[흑룡/NNG;운세/NNG;왜/MAG;엔/NNG;명품/NNG, 속옷/NNG;없/VA]",뉴스,머니투데이,1,2012-01-31,3.29,3.27,-0.02,neutral
...,...,...,...,...,...,...,...,...,...,...,...,...
4974732,160748,2025-12-30,막대한 국채를 보유한 일본이 곧 금리를 올릴 수 밖에 없을 것으로 보고 공매도에 들...,"[막대/NNG;국채/NNG;보유/NNG;곧/MAG;금리/NNG, 오르/VV;없/VA...",뉴스,한국경제,38,2026-01-29,2.54,NaN,NaN,neutral
4974733,160748,2025-12-30,공매도 투자자들의 꿈의 무대가 된 일본 채권 거시 투자자들은 지난 수년간 일본 국채...,"[공매도/NNG;꿈/NNG;무대/NNG;되/VV;채권/NNG, 거시/NNG;수년/N...",뉴스,한국경제,37,2026-01-29,2.54,NaN,NaN,neutral
4974734,160748,2025-12-30,차노스의 전략이 큰 성공을 거둔 셈이다.,[차/NNG;전략/NNG;크/VA;성공/NNG;거둔/VV],뉴스,한국경제,36,2026-01-29,2.54,NaN,NaN,neutral
4974735,160748,2025-12-30,행사 가격은 엔비디아의 경우 당시 마감가격보다 47 팰런티어의 경우 무려 76 낮은...,"[행사가격/NNG;마감/NNG;가격/NNG;티어/NNG;무려/MAG, 낮/VA;가격...",뉴스,한국경제,14,2026-01-29,2.54,NaN,NaN,neutral
4974736,936,2025-12-30,내년 2분기부터는 은행대리업 이 도입돼 은행 영업점이 없는 지역에서도 우체국을 방문...,"[은행/NNG;대리업/NNG;도입/NNG;되/VV;은행/NNG, 영업점/NNG;없/...",뉴스,매일경제,6,2026-01-29,2.54,NaN,NaN,neutral

In [10]:
# 데이터 중간 점검
check_nan = df_study[['rate_today', 'rate_1m', 'diff', 'label']].isnull().sum()

print("--- 빈칸(NaN/NaT) 개수 확인 ---")
print(check_nan)

--- 빈칸(NaN/NaT) 개수 확인 ---
rate_today        0
rate_1m       32236
diff          32236
label             0
dtype: int64

In [ ]:
# 1. 개수 확인
label_counts = df_study['label'].value_counts()

# 2. 비중(%) 확인 (normalize=True를 쓰면 비율로 나와요)
label_ratio = df_study['label'].value_counts(normalize=True) * 100

print("\n--- 라벨별 개수 및 비중 ---")
for label in label_counts.index:
    print(f"[{label}]: {label_counts[label]}개 ({label_ratio[label]:.2f}%)")

--- 라벨별 개수 및 비중 ---
[neutral]: 1150934개 (54.75%)
[hawkish]: 485371개 (23.09%)
[dovish]: 465731개 (22.16%)

In [ ]:

df_study = df_study.dropna(subset=['rate_1m'])
df_study = df_study[df_study['tokens'].map(len) > 0]
df_study = df_study[df_study['label'] != 'neutral']

check_nan = df_study[['rate_today', 'rate_1m', 'diff', 'label']].isnull().sum()
print(check_nan)

rate_today    0
rate_1m       0
diff          0
label         0
dtype: int64

In [ ]:
label_counts = df_study['label'].value_counts()
label_ratio = df_study['label'].value_counts(normalize=True) * 100

print("\n--- 라벨별 개수 및 비중 ---")
for label in label_counts.index:
    print(f"[{label}]: {label_counts[label]}개 ({label_ratio[label]:.2f}%)")

--- 라벨별 개수 및 비중 ---
[hawkish]: 1187360개 (51.74%)
[dovish]: 1107346개 (48.26%)

### NBC 모델 학습

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
import pandas as pd
import numpy as np

df_test = df_study.sample(n=min(500, len(df_study)), random_state=42)

# 2. 30번이 아니라 딱 3번만 반복해볼게요.
n_test_rounds = 3
bagging_results = []

for i in range(n_test_rounds):
    train_data = df_test.sample(frac=0.9, random_state=i)
    cv = CountVectorizer(tokenizer=lambda x: x, lowercase=False, preprocessor=lambda x: x)
    X_train = cv.fit_transform(train_data['tokens'])
    y_train = train_data['label']

    nbc = MultinomialNB()
    nbc.fit(X_train, y_train)

    dovish_idx = np.where(nbc.classes_ == 'dovish')[0][0]
    hawkish_idx = np.where(nbc.classes_ == 'hawkish')[0][0]

    prob_hawkish = np.exp(nbc.feature_log_prob_[hawkish_idx])
    prob_dovish = np.exp(nbc.feature_log_prob_[dovish_idx])

    polarity_ratio = prob_hawkish / (prob_dovish + 1e-10)
    words = cv.get_feature_names_out()
    score_df = pd.DataFrame({'word': words, f'score_{i}': polarity_ratio}).set_index('word')
    bagging_results.append(score_df)
    
    if (i+1) % 5 == 0:
        print(f"{i+1}번째 학습 완료")

final_lexicon = pd.concat(bagging_results, axis=1)
final_lexicon['polarity_score'] = final_lexicon.mean(axis=1)

print("\n--- [축하합니다!] 모든 단어의 평균 극성 점수가 산출되었습니다. ---")

--- [축하합니다!] 모든 단어의 평균 극성 점수가 산출되었습니다. ---

c:\Users\hg432\anaconda3\envs\nlp_study\lib\site-packages\sklearn\feature_extraction\text.py:517: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(
c:\Users\hg432\anaconda3\envs\nlp_study\lib\site-packages\sklearn\feature_extraction\text.py:517: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(
c:\Users\hg432\anaconda3\envs\nlp_study\lib\site-packages\sklearn\feature_extraction\text.py:517: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

In [19]:
final_lexicon

,score_1,score_2,score_3,polarity_score
word,,,,
bis/NNG;비율/NNG;자산/NNG;안정성/NNG;경영/NNG,0.498865,0.495709,0.497375,0.497316
cd/NNG;금리/NNG;수익률/NNG;추종/NNG;cd/NNG,0.498865,0.495709,0.497375,0.497316
db/NNG;가격/NNG;내림/NNG;돌아/VV;구/NNG,1.995459,1.982837,1.989498,1.989265
ecb/NNG;ecb/NNG;추가/NNG;경기/NNG;부양책/NNG,0.498865,0.495709,NaN,0.497287
ecb/NNG;작/VA;매파/NNG;있/VA,1.995459,1.982837,1.989498,1.989265
...,...,...,...,...
상하이종합지수/NNG;오르/VV;항셍지수/NNG;상승/NNG;장/NNG,NaN,NaN,0.497375,0.497375
상한가/NNG;포함/NNG;종목/NNG;오르/VV;종목/NNG,NaN,NaN,1.989498,1.989498
응답비중/NNG;포인트/NNG;상승/NNG,NaN,NaN,0.497375,0.497375
전락/NNG;하/VV;고개/NNG;들/VV,NaN,NaN,1.989498,1.989498
준공/NNG;잔금대출/NNG;주담/NNG;전환/NNG;하/VV,NaN,NaN,1.989498,1.989498

In [25]:
# intensity threshold = 1.3 기준으로 단어 사전 구축
hawkish_lexicon = final_lexicon[final_lexicon['polarity_score'] > 1.3]
dovish_lexicon = final_lexicon[final_lexicon['polarity_score'] < (1/1.3)]

print(f"hawkish 단어: {len(hawkish_lexicon)}개 발견")
print(f"dovish 단어: {len(dovish_lexicon)}개 발견")

hawkish_set = set(hawkish_lexicon.index)
dovish_set = set(dovish_lexicon.index)

hawkish 단어: 635개 발견
dovish 단어: 609개 발견

In [29]:
# 문장
def calculate_tone(n_hawkish, n_dovish):
    denominator = n_hawkish + n_dovish
    if denominator == 0:
        return 0  # 매/비 단어가 하나도 없으면 중립(0)
    return (n_hawkish - n_dovish) / denominator

# 문장 tone 지수 계산
df_study['n_h_feat'] = df_study['tokens'].apply(lambda x: len([w for w in x if w in hawkish_set]))
df_study['n_d_feat'] = df_study['tokens'].apply(lambda x: len([w for w in x if w in dovish_set]))
df_study['tone_s'] = df_study.apply(lambda row: calculate_tone(row['n_h_feat'], row['n_d_feat']), axis=1)

# 문장별 dovish, hawkish 여부 표시
df_study['is_h_sent'] = df_study['tone_s'] > 0
df_study['is_d_sent'] = df_study['tone_s'] < 0

In [30]:
# 문서
# 문서별로 매파 문장 수와 비둘기파 문장 수 sum
doc_level = df_study.groupby(['doc_id', 'date']).agg(
    n_h_sents=('is_h_sent', 'sum'),
    n_d_sents=('is_d_sent', 'sum')
).reset_index()

doc_level['tone_i'] = doc_level.apply(lambda row: calculate_tone(row['n_h_sents'], row['n_d_sents']), axis=1)

In [ ]:
# 문장 톤 지수 비중 확인
tone_ratio = df_study['tone_s'].value_counts(normalize=True)
tone_percentage = tone_ratio * 100
print(tone_percentage)

tone_s
 0.000000    92.500085
-1.000000     4.638023
 1.000000     2.861761
-0.333333     0.000044
 0.666667     0.000044
 0.333333     0.000044
Name: proportion, dtype: float64

In [ ]:
# 날짜별 지수 계산
daily_tone = doc_level.groupby('date')['tone_i'].mean().reset_index()
daily_tone.columns = ['date', 'date_tone']

display(daily_tone.head())

--- [산출 완료] ---

        date  date_tone
0 2012-03-07  -0.018519
1 2012-05-08  -0.216250
2 2012-06-10  -0.270452
3 2012-06-12  -0.280132
4 2012-06-13  -0.257977

In [ ]:
daily_tone.to_csv('daily_tone.csv', index=False, encoding='utf-8-sig')